<header>
<nav>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Internet Freedom</a>
      <ul class="nav">
        <li class="active"><%= link_to "Home", "/" %></li>
        <li><%= link_to "Boycott the Sponsoring Corporations", root_path + "#corporations" %></li>
        <li><%= link_to "Flood the Supporting Politicians", root_path + "#politicians" %></li>
      </ul>
    </div>
  </div>
</div>
</nav>
</header>
